body {
  background-color: #e5eafe;
  color: black;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: black;
}
#login-msg {
  margin-left: 250px;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 120px;
  line-height: 100px;
}

#login-msg1 {
  opacity: 0;
  visibility: hidden;
}
.btn-div {
  margin-left: 80px;
}

.btn-div button {
  width: 400px;
  height: 75px;
  font-size: 2rem;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background: deepskyblue;
  cursor: pointer;
}
.btn-div button:hover {
  background: rgb(76, 208, 252);
}
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 1280px) {
  .container {
    flex-direction: column;
  }
  #login-msg {
    display: none;
  }

  #login-msg1 {
    opacity: 1;
    visibility: visible;
    font-size: 2rem;
    margin-left: 80px;
    text-align: center;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media (max-width: 930px) {
  .btn-div {
    margin-left: 200px;
  }
  .btn-div button {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .btn-div {
    margin-left: 40px;
  }
  .btn-div button {
    width: 370px;
    font-size: 1.5rem;
  }
}

@media (max-width: 432px) {
  #login-msg1 {
    font-size: 1.5rem;
    margin-left: 0px;
    text-align: center;
  }
  .btn-div {
    margin-left: 20px;
  }

  .btn-div button {
    width: 300px;
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .btn-div {
    margin-left: 10px;
  }

  .btn-div button {
    width: 280px;
    font-size: 1.5rem;
  }
}
